{% extends "auctions/layout.html"%} {% block body %}
<link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<style>
  button {
    background-color: #ffffff;
    border: none;
    outline: none;
  }
</style>

<div class="container">
  <div>
    <h1>
      {{auction.title}} {% if request.user.is_authenticated%}
      <span class="after">
        {% comment %} THIS TOGGLE SHOULD BE JS, BUT OK {%endcomment%}
        <a href="{% url 'update_watchlist' auction.pk%}">
          {% if in_watchlist %}
          <i class="fa fa-heart" style="font-size: 24px; color: red"></i>
          {% else %}
          <i class="fa fa-heart-o" style="font-size: 24px; color: red"></i>
          {% endif %}
        </a>
      </span>
      {% endif %}
    </h1>
  </div>
  <div class="row" style="max-height: 200px">
    <div class="col-lg-6">
      <label style="color: #999">Description</label>
      <div style="height: 190px">{{auction.description}}</div>
      <div></div>
    </div>
    <div class="col-lg-6">
      <div>
        {% if auction.image_url%}
        <img
          src="{{auction.image_url}}"
          max-height="200px"
          width="200px"
          height="200px"
          class="img-thumbnail float-right"
        />
        {% else %} <img
        src="https://st3.depositphotos.com/1163409/37482/v/450/depositphotos_374827244-stock-illustration-vector-plate-number-404-field.jpg"
        max-height="200px" width="200px" height="200px" class="img-thumbnail
        float-right" {%endif%}
      </div>
    </div>
    <div>
      <div style="margin: 10px; margin-left: 0px">
        {% if auction.active%}
        <span class="badge badge-success" style="font-size: 20px">
          Active
        </span>
        {%else%}
        <span class="badge badge-secondary" style="font-size: 20px">
          Inactive
        </span>
        {%endif%}
      </div>
      <div>
        <label style="color: #999">Current Bid</label>
        <div>
          <h2>$ {{auction.current_bid}}</h2>
        </div>
      </div>
      <div>
        <label style="color: #999">Created at</label>
        <div>{{auction.created_at}}</div>
      </div>
      <div>
        <label style="color: #999">Last updated</label>
        <div>{{auction.updated_at}}</div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
