{% extends "auctions/layout.html"%} {% block body %}
<link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<style>
  button {
    background-color: #ffffff;
    border: none;
    outline: none;
  }
</style>

<div class="container">
  <div>
    <h1>
      {{auction.title}} {% if request.user.is_authenticated%}
      <span class="after">
        {% comment %} THIS TOGGLE SHOULD BE JS, BUT OK {%endcomment%}
        <a href="{% url 'update_watchlist' auction.pk%}">
          {% if in_watchlist %}
          <i class="fa fa-heart" style="font-size: 24px; color: red"></i>
          {% else %}
          <i class="fa fa-heart-o" style="font-size: 24px; color: red"></i>
          {% endif %}
        </a>
      </span>
      {% endif %}
    </h1>
  </div>
  <div class="row" style="max-height: 200px">
    <div class="col-lg-6">
      <label style="color: #999">Description</label>
      <div style="height: 190px">{{auction.description}}</div>
    </div>
    <div class="col-lg-6">
      <div>
        {% if auction.image_url %}
        <img
          src="{{auction.image_url}}"
          max-height="200px"
          width="200px"
          height="200px"
          class="img-thumbnail float-right"
        />
        {% else %}
        <img
          src="https://st3.depositphotos.com/1163409/37482/v/450/depositphotos_374827244-stock-illustration-vector-plate-number-404-field.jpg"
          max-height="200px"
          width="200px"
          height="200px"
          class="img-thumbnail float-right"
        />
        {%endif%}
      </div>
    </div>
    <div>
      {% if not auction.active and auction.last_winner == request.user %}
      <div>
        <h3>You won this auction!</h3>
      </div>
      {% endif %}
      <div style="margin: 10px; margin-left: 0px">
        {% if auction.active%}
        <span class="badge badge-success" style="font-size: 20px">
          Active
        </span>
        {%else%}
        <span class="badge badge-secondary" style="font-size: 20px">
          Inactive
        </span>
        {%endif%}
      </div>
      <div>
        <label style="color: #999">Current Bid</label>
        <div>
          <h2>$ {{auction.current_bid}}</h2>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div>
        <label style="color: #999">Place a bid</label>
        <div>
          <form action="{% url 'bid' auction.pk%}" method="POST">
            {% csrf_token %}
            <input
              type="number"
              step="any"
              name="bid"
              placeholder="Bid"
              value="{{auction.current_bid}}"
              min="{{auction.current_bid}}"
            />
            <button type="submit" class="btn btn-primary">Bid</button>
          </form>
        </div>
      </div>
      {% endif %}
      <div>
        <label style="color: #999">Created at</label>
        <div>{{auction.created_at}}</div>
      </div>
      <div>
        <label style="color: #999">Last updated</label>
        <div>{{auction.updated_at}}</div>
      </div>
      {% if request.user.is_authenticated and request.user == auction.created_by %}
      <div style="margin-top: 10px">
        <form action="{% url 'active' auction.pk%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="auction_id" value="{{auction.pk}}" />
          {% if auction.active %}
          <button name="active" type="submit" class="btn btn-danger" value="0">
            Close auction
          </button>
          {% else %}
          <button name="active" type="submit" class="btn btn-primary" value="1">
            Open auction
          </button>
          {% endif %}
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}
